<!-- <section class="login flex justify-center pt-20">
    <div class="w-full max-w-xs">
        <form action="/register" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <% if(messages.error) { %>
            <span class="text-red-500 text-sm"><%= messages.error %></span>
            <% } %>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Name
                </label>
                <input name="name" value="<%= messages.name  %>"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="text" placeholder="Enter your name">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Email
                </label>
                <input name="email" value="<%= messages.email  %>"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="email" placeholder="Enter your email">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Role
                </label>
                <select name="role" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="customer">customer</option>
                    <option value="admin">admin</option>
                    <option value="hr_admin">hr_admin</option>
                </select>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input name="password"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="password" placeholder="******************">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Register
                </button>
                <a class="inline-block align-baseline font-bold text-sm" href="/login">
                    Already have account?
                </a>
            </div>
        </form>
    </div>
</section> -->





<style>

.container {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.container h2 {
  text-align: center;
  color: #333;
}

.container form {
  margin-top: 20px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0d2c42;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  background-color: #0d2c42;
}

.container p {
  text-align: center;
  margin-top: 10px;
}
</style>

<div class="container">
    <h2>Sign Up</h2>
    <form action="/register" method="POST" >
        <% if(messages.error) { %>
            <span class="text-red-500 text-sm"><%= messages.error %></span>
            <% } %>
      <input type="text" value="<%= messages.name  %>" name="name" placeholder="Enter your Name" required>
      <input type="email" value="<%= messages.email %>" name="email" placeholder="Email" required>
      <select name="role" required>
        <option value="customer">Customer</option>
        <option value="admin">admin</option>
        <option value="hr_admin">hr_admin</option>
      </select>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Sign Up">
    </form>
    <p>Already have an account? <a  href="/login">Log In</a></p>
  </div>
